@model SampleMVC3WebApplication.Models.ApplicationCart

@{
    ViewBag.Title = "Checkout with Cart";
}

<h2>@ViewBag.Title</h2>
<p>
    Your purchase details;
</p>
<ul>
    <li>Unique Id: @Model.Id</li>
    @if (Model.PurchaseDescription != null)
    {
        <li>Purchase Description: @Model.PurchaseDescription</li>
    }
    <li>Currency: @Model.Currency</li>
    <li>Total Price: @Model.TotalPrice</li>
</ul>

@if (Model.Items != null)
{
    <p>
        Your cart contents;
    </p>
    <ul>
        @foreach (SampleMVC3WebApplication.Models.ApplicationCartItem item in Model.Items)
        {
            <li>@(item.Quantity + " x " + item.Name + " @ " + item.Price + " each")</li>
        }
    </ul>
}

<a href="@Url.Action("PayPalExpressCheckout", "Purchase")">
   <img src="https://www.paypalobjects.com/en_US/i/btn/btn_xpressCheckout.gif" alt="PayPal" />
</a>