@{
    ViewBag.Title = "Payment Success!";
}

<h2>
    @ViewBag.Title
</h2>

<p>
    Congratulations you just bought;
</p>
<ul>
    <li>Basket Id: @ViewBag.TrackingReference</li>
    <li>Purchase Description: @ViewBag.Description</li>
    <li>Currency: @ViewBag.Currency</li>
    <li>Total Price: @ViewBag.TotalCost</li>
</ul>